@font-face {
    font-family: "Signika-bold";
        src: url("./Signika-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Signika-light";
        src: url("./Signika-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Signika-regular";
        src: url("./Signika-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Signika-semibold";
        src: url("./Signika-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}