
/* HOME */
#home .banner-wrap {
    position: relative;
}

#home .banner-wrap .banner-items {
    position: relative;
    width: 100%;
    height: calc(100vh - 158px);
    overflow: hidden;
}

#home .banner-wrap .banner-items > * {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 200%;
    max-height: 200%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .8s ease-in;
    z-index: 9;
}

#home .banner-wrap .banner-items > *.active {
    opacity: 1;
    z-index: 99;
}

#home .banner-wrap .banner-btn {
    position: absolute;
    padding: 8px 80px;
    left: 50%;
    bottom: 20%;
    font-size: 32px;
    background-color: #fff;
    transform: translateX(-50%);
    border-radius: 8px;
    z-index: 999;
}

#home .form-title:after {
    content: "";
    margin: 0 auto;
    width: 64px;
    height: 2px;
    background-color: #fab500;
    display: block;
}

#home .form-title h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 36px;
}

#home .form-title span {
    padding: 5px 0 20px 0;
    font-size: 16px;
    display: inline-block;
}

#home .form-sub-title {
    margin: 0;
    padding: 15px 0;
    font-size: 36px;
}

#home .steps-wrap {
    padding: 30px 0 120px 0;
}

#home .container .row {
    padding-top: 75px;
}

#home .decorating-wrap .rooms-wrap {
    padding: 10px 2%;
}

#home .decorating-wrap .rooms-wrap .rooms-item {
    float: left;
    position: relative;
    margin: 10px;
    width: calc(20% - 20px);
}

#home .decorating-wrap .rooms-wrap .rooms-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: #353638;
    opacity: .6;
    z-index: 9;
    display: block;
}

#home .decorating-wrap .rooms-wrap .rooms-item img {
    position: relative;
    width: 100%;
    z-index: 8;
    display: block;
}

#home .decorating-wrap .rooms-wrap .rooms-item .btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translate(-50%, calc(-50% + 30px));
    z-index: 10;
}

#home .decorating-wrap .rooms-wrap .rooms-item .btn-gotoroom {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: 4px solid #fff;
    display: inline-block;
}

#home .decorating-wrap .rooms-wrap .rooms-item .link-shopnow {
    margin-top: 40px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
}

#home .decorating-wrap .show-everything {
    padding: 20px;
    background-color: #fab500;
}

#home .decorating-wrap .show-everything .btn-everything {
    padding: 9px 25px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: 4px solid #fff;
    display: inline-block;
}

#home .decorating-wrap .mypopwall-wrap {
    padding: 30px 0 65px 0;
}

#home .decorating-wrap .mypopwall-wrap .form-title h2 {
    padding-bottom: 10px;
}

#home .decorating-wrap .mypopwall-wrap .form-title:after {
    display: none;
}

#home .decorating-wrap .mypopwall-wrap .mypopwall-items {
    margin: 0 auto;
    width: auto;
}
#home .decorating-wrap .mypopwall-wrap .mypopwall-items img {
    float: left;
    margin: 0 15px;
    width: calc(20% - 30px);
}
