#internal .left-widget {
    float: left;
    width: 20%;
}

#internal .widget-wrap .sub-widget-title {
    padding: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #622551;
}

#internal .widget-wrap .sub-widget-cont {
    padding: 15px 30px 40px 30px;
    background-color: #fff;
}

#internal .widget-wrap .sub-widget-cont > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #808080;
}

#internal .widget-wrap .sub-widget-cont > ul > li a {
    color: #313131;
    font-size: 16px;
}

#internal .widget-wrap .sub-widget-cont > ul.filterby > li {
    padding-left: 10px;
}

#internal .widget-wrap .sub-widget-cont > ul.filterby > li .collapsible-btn {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #808080;
    display: inline-block;
}

#internal .widget-wrap .sub-widget-cont > ul.filterby > li .collapsible-btn:before {
    content: "+";
}
#internal .widget-wrap .sub-widget-cont > ul.filterby > li .collapsible-btn.collapsed:before {
    content: "-";
}

#internal .widget-wrap .sub-widget-cont > ul > li ul {
    padding: 0 5px 0 60px;
    height: 0;
    opacity: 0;
    transition: all .3s ease-in;
    overflow: hidden;
}
#internal .widget-wrap .sub-widget-cont > ul > li ul.collapsed {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    opacity: 1;
}

#internal .widget-wrap .sub-widget-cont > ul > li ul li {
    position: relative;
    padding-left: 10px;
}
#internal .widget-wrap .sub-widget-cont > ul > li ul li:before {
    content: ">";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#internal .widget-wrap .sub-widget-cont > ul > li ul li,
#internal .widget-wrap .sub-widget-cont > ul > li ul li a {
    font-size: 15px;
    color: #656155;
}

#internal .products-section {
    float: left;
    padding: 0 20px 35px 20px;
    width: 80%;
}

#internal .products-section .featured {
    background: #fff url(../imgs/Sample-Contents/design-930x380.jpg) top right no-repeat;
    background-size: auto 100%;
    border-bottom: 7px solid #fab500;
}

#internal .products-section .featured .featured-wrap {
    padding: 25px 25px 50px 25px;
    max-width: 464px;
    background-color: #fff;
}

#internal .products-section .featured .featured-wrap h2 {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 36px;
}

#internal .products-section .featured .featured-wrap img {
    margin-bottom: 15px;
}

#internal .products-section .featured .featured-wrap p {
    font-size: 16px;
}

#internal .products-section .featured .featured-wrap .featured-readmore {
    margin-top: 10px;
    color: #4f4e4d;
    font-size: 20px;
    display: inline-block;
}

#internal .products-section .filter-section {
    padding: 40px 10px;
    text-align: right;
}

#internal .products-section .filter-section span,
#internal .products-section .filter-section label {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
}

#internal .products-section .product-item {
    float: left;
    margin-right: 20px;
    padding-bottom: 25px;
    width: calc((100% - 40px) / 3);
}
#internal .products-section .product-item:nth-of-type(3n) {
    margin-right: 0;
}
#internal .products-section .product-item:nth-of-type(3n + 1) {
    clear: both;
}

#internal .products-section .product-item .product-img {
    position: relative;
}

#internal .products-section .product-item .product-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .1s ease-in;
    display: block;
    z-index: 9;
}
#internal .products-section .product-item .product-img:hover:after {
    width: 100%;
    height: 100%;
}

#internal .products-section .product-item .product-img img {
    width: 100%;
}

#internal .products-section .product-item .product-img .detail {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 7px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border: 4px solid #fff;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    z-index: 99;
}

#internal .products-section .product-item .product-img:hover .detail {
    opacity: 1;
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
    display: block;
}

#internal .products-section .product-item .product-img .sale {
    position: absolute;
    top: auto;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #9c1006;
}

#internal .products-section .product-item .product-info {
    padding-top: 5px;
    width: 100%;
}

#internal .products-section .product-item .product-info .product-name-price {
    font-size: 16px;
}

#internal .products-section .product-item .product-info .product-name-price .product-price {
    float: right;
}

#internal .products-section .product-item .product-info .product-name-artist {
    font-size: 15px;
}

#internal .products-section .product-item .product-info .star-group {
    margin-top: 10px;
}

#internal .products-section .searched-pagination {
    padding: 10px;
    text-align: center;
}

#internal .products-section .searched-pagination a,
#internal .products-section .searched-pagination span {
    margin: 0 5px;
    font-size: 16px;
}

#internal .products-section .searched-pagination a {
    padding: 0px 12px;
    color: #fff;
    background-color: #ea4b36;
    display: inline-block;
    transition: background-color .3s ease-in;
}
#internal .products-section .searched-pagination a:hover {
    background-color: #b4220f;
}