
/* PRODUCT INTERNAL */
#productInternal {
    padding: 0 0 200px 0;
}

#productInternal .wallpaper-wrap {
    padding: 30px 0;
}

#productInternal .wallpaper-full img {
    width: 100%;
    display: block;
}

#productInternal .wallpaper-thumbs {
    padding: 0;
}

#productInternal .wallpaper-thumbs img {
    float: left;
    margin: 12px 12px 0 0;
    width: calc((100% - 24px) / 3);
    display: block;
}
#productInternal .wallpaper-thumbs img:last-child {
    margin-right: 0;
}

#productInternal .wallpaper-wrap .wallpaper-name {
    font-size: 16px;
}

#productInternal .wallpaper-wrap .getstarted {
    margin-top: 15px; 
    padding: 40px 20px;
    font-size: 16px;
    background-color: #622650;
}

#productInternal .wallpaper-wrap .getstarted label {
    text-transform: uppercase;
}

#productInternal .wallpaper-wrap .getstarted p {
    margin: 15px 0 20px 0;
    padding: 0 10%;
}

#productInternal .wallpaper-wrap .getstarted .size-group input {
    float: left;
    margin-right: 30px;
    padding: 6px 20px;
    width: calc(50% - 15px);
    border-width: 0;
    background-color: #fff;
}
#productInternal .wallpaper-wrap .getstarted .size-group input:last-child {
    margin-right: 0;
}

#productInternal .wallpaper-wrap .getstarted .action-group {
    margin-top: 40px;
}

#productInternal .wallpaper-wrap .getstarted .action-group #addtobasket {
    width: 175px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: #2aa41e;
    border-width: 0;
}

#productInternal .wallpaper-wrap .getstarted .action-group div {
    margin: 5px 0;
}

#productInternal .wallpaper-wrap .getstarted .action-group #orderasample {
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
}

#productInternal .wallpaper-wrap .include-info {
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #d2d2d2;
}

#productInternal .wallpaper-wrap .include-info h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

#productInternal .wallpaper-wrap .include-info li {
    padding-left: 22px;
    background: transparent url(../imgs/icons/MISC/list-style.png) left 5px no-repeat;
}

#productInternal .other-info {
    padding: 30px 0;
}

#productInternal .other-info .tabs-items .artist-profile {
    padding: 30px;
}

#productInternal .other-info .tabs-items .artist-avatar {
    float: left;
    max-width: 120px;
    max-height: 120px;
}

#productInternal .other-info .tabs-items .artist-info {
    float: left;
    margin-top: 10px;
    width: calc(90% - 120px);
    font-size: 16px;
}

#productInternal .other-info .tabs-items .artist-info .artist-name {
    color: #622650;
}

#productInternal .other-info .tabs-items .artist-info p {
    margin: 10px 0;
    padding: 0;
}
#productInternal .other-info .tabs-items .artist-info .readmore a {
    font-size: 15px;
    font-weight: 700;
    color: #4f4e4d;
    text-transform: uppercase;
}

#productInternal .review-wrap {
    padding: 30px 0;
}

#productInternal .form-title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #313131;
}

#productInternal .review-wrap .form-title {
    float: left;
    margin: 3px 20px 0 0;
}

#productInternal .review-wrap .star-group {
    float: left;
    margin: 0 20px 0 0;
}

#productInternal .review-wrap .review-form {
    max-width: 700px;
}

#productInternal .review-wrap .review-form #review-text {
    margin-top: 10px;
    width: 100%;
    height: 180px;
    max-width: 100%;
    max-height: 180px;
    background-color: #fff;
    border-width: 0;
    display: block;
}

#productInternal .review-wrap .review-form #submit-review {
    float: right;
    margin-top: 10px;
    width: 175px;
    height: 28px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #787878;
    border-width: 0;
    display: block;
}

#productInternal .other-design {
    padding: 30px 0;
}

#productInternal .other-design .form-title {
    margin-bottom: 30px;
}

#productInternal .other-design .wallpaper-image img {
    width: 100%;
}

#productInternal .other-design .wallpaper-info {
    padding-top: 25px;
    width: 100%;
}

#productInternal .other-design .wallpaper-info .wallpaper-name-price {
    font-size: 16px;
}

#productInternal .other-design .wallpaper-info .wallpaper-name-price .wallpaper-price {
    float: right;
}

#productInternal .other-design .wallpaper-info .wallpaper-name-artist {
    font-size: 15px;
}

#productInternal .other-design .wallpaper-info .star-group {
    margin-top: 10px;
}

