

@media screen and (max-width: 1600px){
    #topHeader .section-second .nav-wrap .nav > li {
        margin-right: 30px; 
    }
    
    #topHeader #logo {
        left: 10px;
        width: 120px;
    }
}

@media screen and (max-width: 1460px){
    #topHeader .section-second .nav-wrap .nav > li {
        margin-right: 30px; 
    }
}

@media screen and (max-width: 1240px){ 
    #topHeader #logo {
        position: relative;
        float: left;
        margin: -63px 0px -15px -15px;
        width: 100px;
        display: block;
    }
    
    #internal .widget-wrap .sub-widget-title {
        padding: 10px;
    }
    
    #internal .widget-wrap .sub-widget-cont {
        padding: 10px 15px 30px 15px;
    }
    
    #internal .widget-wrap .sub-widget-cont > ul > li ul {
        padding: 0 5px 0 20px;
    }
}

@media screen and (max-width: 1140px){
    #topHeader #logo {
        margin: -60px 0px -35px -15px;
        width: 120px;
    }
    
    #topHeader .section-second .search-wrap {
        display: block;
    }
    
    #home .banner-wrap .banner-items {
        height: calc(100vh - 188px);
    }
}

@media screen and (max-width: 1024px){      
    #home .decorating-wrap .rooms-wrap {
        padding: 10px;
    }

    #home .decorating-wrap .rooms-wrap .rooms-item {
        width: calc(100% / 3 - 20px);
    }
    
    #home .decorating-wrap .mypopwall-wrap .mypopwall-items img {
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }
        
    #internal .products-section .product-item {
        float: left;
        margin-right: 15px;
        padding-bottom: 25px;
        width: calc((100% - 15px) / 2);
    }
    #internal .products-section .product-item:nth-of-type(3n) {
        margin-right: 15px;
    }
    #internal .products-section .product-item:nth-of-type(3n + 1) {
        clear: none;
    }
    #internal .products-section .product-item:nth-of-type(2n) {
        margin-right: 0;
    }
    #internal .products-section .product-item:nth-of-type(2n + 1) {
        clear: both;
    }
}

@media screen and (max-width: 992px){
    #topHeader #logo {    
        margin: -10px 0 0 -10px;
        width: 100px;        
    }
    
    #topHeader .section-second .nav-wrap {
        padding: 15px;
    }
    
    #topHeader .section-first .row > div {
        padding: 0;
        text-align: center;
    }
    #topHeader .section-first .row #sel-country,
    #topHeader .section-first .row #callus,
    #topHeader .section-first .row .short-menu,
    #topHeader .section-first .row .social-icons {
        padding: 10px;
    }
    
    #topFooter .footer-content {
        padding: 40px 0;
    }
    
    #topFooter .footer-content .customer-care {
        margin: 30px 0;
    }
    
    #topFooter .footer-content .newsletter,
    #topFooter .footer-content .social-icons,
    #topFooter .copyright {
        text-align: center;
    }
    
    ng-popup .popup-wrap {
        width: 90%;
        max-height: 90%;
    }
    
    ng-popup .popup-wrap .popup-cont {
        margin-left: 30%;
        padding: 30px 30px 40px 35px;
        background-color: #fff;
    }
    
    #home .banner-wrap .banner-items {
        height: 360px;
    }
    
    #home .banner-wrap .banner-btn {
        padding: 5px 30px;
        border-radius: 5px;
    }
    
    #internal .left-widget,
    #internal .products-section {
        float: none;
        width: 100%;
    }
    
    #internal .products-section {
        padding: 20px;
    }
}

@media screen and (max-width: 740px){
    #topHeader #logo {
        float: none;
        margin: 0 auto;
    }
    #topHeader .section-second .nav-wrap {
        padding: 10px;
        text-align: center;
    }
    
    #topHeader .section-second .nav-wrap .nav {
        padding-top: 20px;
    }
    #topHeader .section-second .nav-wrap .nav > li {
        float: none;
        margin: 0 10px;
        display: inline-block;
    }
    
    #topHeader .section-second .search-wrap {
        padding: 10px;
        width: 100%;
        text-align: center;
        display: block;
    }
    
    #home .banner-wrap .banner-btn {
        font-size: 20px;
    }

    #home .decorating-wrap .rooms-wrap .rooms-item {
        width: calc(100% - 20px);
    }
    
    #home .decorating-wrap .mypopwall-wrap .mypopwall-items img {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 640px){
    #topFooter .testimonial-wrap span.asseenin,
    #topFooter .testimonial-wrap img {
        margin: 0 auto;
        padding: 10px 0;
        width: auto;
        display: block;
    }
    
    #topFooter .testimonial-wrap span.asseenin {
        padding: 0;
        line-height: 18px;
    }
    
    #topFooter .footer-content .col-md-6 {
        padding: 0;
    }
    
    #topFooter .footer-content .newsletter {
        margin: 30px 0;
        padding: 30px 0;
        width: 100%;
        max-width: none;
    }
    
    ng-popup .popup-wrap {
        background-size: 100% auto;
        background-position: center top;
    }
    ng-popup .popup-wrap .popup-cont {
        margin-top: 60px;
        margin-left: 0;
        padding: 30px 20px 40px 30px;
        background-color: #fff;
    }
    
    #internal .products-section {
        padding: 20px 10px;
    }
    
    #internal .products-section .product-item {
        float: none;
        margin: 0;
        padding-bottom: 25px;
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    #topHeader .section-first .row > div {
        padding: 0;
        text-align: center;
    }
    #topHeader .section-first .row #sel-country,
    #topHeader .section-first .row .short-menu {
        margin: 0;
    }
    #topHeader .section-first .row #callus,
    #topHeader .section-first .row .short-menu,
    #topHeader .section-first .row .social-icons {
        padding: 10px;
    }
    
    ng-popup .popup-wrap .popup-cont {
        margin-top: 40px;
        margin-left: 0;
        padding: 20px 20px 20px 20px;
    }
    
    ng-popup .popup-wrap .popup-cont .popup-title h2 {
        margin-bottom: 5px;
        font-size: 24px;
    }
    
    ng-popup .popup-wrap .popup-cont .popup-title span {
        font-size: 14px;
    }
    
    ng-popup .popup-wrap .popup-cont .popup-desc li {
        padding: 2px 0 2px 20px;
        font-size: 14px;
    }
    
    ng-popup .popup-wrap .popup-cont .popup-form #popup-email {
        padding: 5px 20px;
        height: 33px;
        border-radius: 18px;
    }
    
    ng-popup .popup-wrap .popup-cont .popup-form #popup-subscribe {
        margin-top: 15px;
        padding: 5px 20px;
        height: 33px;
        border-radius: 18px;
    }
}

@media screen and (max-width: 360px){
    #topHeader .section-second .links a {
        padding: 3px 15px;
        width: 100%;
        display: block;
    }
    #topHeader .section-second .links a span {
        display: inline-block;
    }
}
