/* Global */
html, body {
    background-color: #f1f1f1;
}

html, body, * {
    font-family: "Signika-regular", arial, sans-serif;
    box-sizing: border-box;
    word-break: break-word;
    color: #313131;
}

.bold {
     font-family: "Signika-bold", arial, sans-serif;
}
.light {
     font-family: "Signika-light", arial, sans-serif;
}
.regular {
     font-family: "Signika-regular", arial, sans-serif;
}
.semibold {
     font-family: "Signika-semibold", arial, sans-serif;
}

.color-purple {
    color: #622650 !important;
}
.color-white {
    color: #fff !important;
}
.color-yellow {
    color: #fab500 !important;
}
.color-green {
    color: #2aa41e !important;
}
.color-red {
    color: #ea4b36 !important;
}
.color-grey {
    color: #bdbdbd !important;
}
.color-darkgrey {
    color: #313131 !important;
}

.full-color-purple, 
.full-color-purple * {
    color: #622650 !important;
}
.full-color-white, 
.full-color-white * {
    color: #fff !important;
}
.full-color-yellow, 
.full-color-yellow * {
    color: #fab500 !important;
}
.full-color-green, 
.full-color-green * {
    color: #2aa41e !important;
}
.full-color-red, 
.full-color-red * {
    color: #ea4b36 !important;
}
.full-color-grey, 
.full-color-grey * {
    color: #bdbdbd !important;
}
.full-color-darkgrey, 
.full-color-darkgrey * {
    color: #313131 !important;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

a, a:hover {
    text-decoration: none;
}

/* HEADER */

#topHeader {
    max-width: 1920px;
}

#topHeader .section-first {
    padding: 15px 10px 10px 10px;
    background-color: #313131;
}

#topHeader .section-first .row {
    margin: 0 auto;
    max-width: 1640px;
}

#topHeader .section-first a {
    color: #fff;
}

#topHeader .section-first #sel-country {
    margin-right: 30px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
}

#topHeader .section-first #sel-country img {
    float: left;
    margin-right: 10px;
    max-width: 25px;
    max-height: 16px;
}

#topHeader .section-first #callus {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
}

#topHeader .section-first #callus span {
    color: #bdbdbd;
}

#topHeader .section-first .short-menu,
#topHeader .section-first .social-icons {
    display: inline-block;
}

#topHeader .section-first .short-menu {
    margin-right: 30px;
    display: inline-block;
}

#topHeader .section-first .short-menu a {
    position: relative;
    margin-right: 15px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
}
#topHeader .section-first .short-menu a:last-child {
    margin-right: 0;
}

#topHeader .section-first .short-menu a:not(#sel-cart):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 16px;
    background-color: #bdbdbd;
    transform: translateY(-50%);
    display: block;
}

#topHeader .section-first .short-menu a#sel-cart {
    padding-right: 25px;
}

#topHeader .section-first .short-menu a#sel-cart img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#topHeader .section-first .short-menu a#sel-cart .cart-num {
    position: absolute;
    top: -15px;
    right: -2px;
    width: 17px;
    height: 21px;
    text-align: center;
    background: transparent url(../imgs/icons/MISC/icon-cart-number-bg.png) center center no-repeat;
    z-index: 9;
}

#topHeader .section-first .social-icons {
    transform: translateY(-3px);
}

#topHeader .section-first .social-icons a {
    margin-right: 15px;
}

#topHeader .section-first .social-icons a img {
    max-width: 18px;
    max-height: 18px;
}

#topHeader .section-second {
    position: relative;
}

#topHeader #logo {
    position: absolute;
    top: 5px;
    left: 60px;
    z-index: 9999;
}

#topHeader .section-second .links {
    padding: 2px;
    background-color: #dfdcdc;
}

#topHeader .section-second .links a {
    position: relative;
    margin: 5px 30px 5px 0;
    line-height: 28px;
    font-size: 16px;
    color: #504b3d;
    text-transform: uppercase;
    display: inline-block;
}
#topHeader .section-second .links a:last-child {
    margin-right: 0;
}

#topHeader .section-second .links a img {
    float: left;
    margin-right: 10px;
    max-width: 28px;
    max-height: 28px;
    opacity: .8;
}

#topHeader .section-second .nav-wrap {
    padding: 20px;
    line-height: 0;
    background: #fff;
}

#topHeader .section-second .nav-wrap .nav {
    display: inline-block;
}

#topHeader .section-second .nav-wrap .nav > li {
    float: left;
    position: relative;
    margin-right: 60px;
}

#topHeader .section-second .nav-wrap .nav a {
    width: auto;
    line-height: 30px;
    display: block;
    border-bottom: 2px solid transparent;
    transition: border-color .1s ease-in;
}
#topHeader .section-second .nav-wrap .nav a:hover,
#topHeader .section-second .nav-wrap .nav a.active {
    border-color: #fab500;
    background-color: #fff;
}

#topHeader .section-second .nav-wrap .nav > li a {
    padding: 0 8px;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
    color: #313131;
}
#topHeader .section-second .nav-wrap .nav > li a:last-child {
    margin-right: 0;
}


#topHeader .section-second .nav-wrap .nav .subnav {
    position: absolute;
    top: auto;
    left: -50px;
    padding-top: 32px;
    background-color: transparent;
    z-index: 999;
    overflow: hidden;
    display: none;
}
#topHeader .section-second .nav-wrap .nav .subnav:after {
    content: "";
    position: absolute;
    top: 24px;
    left: 70px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: rotate(45deg);
    display: block;
    z-index: 998;
}

#topHeader .section-second .nav-wrap .nav > li a:hover + .subnav,
#topHeader .section-second .nav-wrap .nav > li .subnav:hover {
    display: block;
}

#topHeader .section-second .nav-wrap .nav .subnav-wrap {
    position: relative;
    padding: 10px 20px 10px 10px;
    width: 150px;
    background-color: #fff;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.025);
    z-index: 999;
}
#topHeader .section-second .nav-wrap .nav .subnav-wrap:after {
    content: "";
    clear: both;
    display: block;
}

#topHeader .section-second .nav-wrap .nav .subnav-wrap.subnav-4 {
    width: 624px;
}

#topHeader .section-second .nav-wrap .nav .subnav-wrap a {
    padding: 0;
    height: auto;
    text-align: left;
    font-size: 15px;
    display: inline-block;
}

#topHeader .section-second .nav-wrap .nav .subnav-wrap .subnav-col-4 {
    float: left;
    position: relative;
    padding: 20px 10px 10px 20px;
    width: calc(100% / 4);
}
#topHeader .section-second .nav-wrap .nav .subnav-wrap .subnav-col-4:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 70%;
    background-color: #a0a0a0;
    transform: translateY(-50%);
}

#topHeader .section-second .nav-wrap .nav .subnav-wrap label {
    margin-bottom: 15px;
}

#topHeader .section-second .nav-wrap #search {
    padding: 0 30px 0 10px;
    width: 255px;
    height: 31px;
    font-size: 16px;
    background: transparent url(../imgs/icons/MISC/search.png) left center no-repeat;
    border-width: 0;
    font-family: "Signika-light", arial, sans-serif;
    border: 1px solid #fff;
    transition: border-color .1s ease-in;
    border-radius: 6px;
}

#topHeader .section-second .nav-wrap #search:focus {
    border-color: #bdbdbd;
    outline: inherit;
}

/* Breacrumbs */
#topHeader .breadcrumb {
    padding: 25px 0;
    background-color: transparent;
}

#topHeader .breadcrumb a,
#topHeader .breadcrumb span {
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    color: #313131;
}

#topHeader .breadcrumb span {
    line-height: 10px;
}

/* BODY */
.body {
    min-height: 200px;
}

/* FOOTER */
#topFooter {
    max-width: 1920px;
}

#topFooter .row {
    margin: 0 auto;
    max-width: 1640px;
}

#topFooter .testimonial-wrap {
    padding: 35px;
    background-color: #dcdcdc;
}

#topFooter .testimonial-wrap span.asseenin,
#topFooter .testimonial-wrap img {
    margin: 10px 0 10px 60px;
    display: inline-block;
}

#topFooter .testimonial-wrap span.asseenin {
    margin-left: 0;
    color: #313131;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 43px;
}

#topFooter .footer-content {
    padding: 40px 0 75px 0;
    background-color: #313131;
}

#topFooter .footer-content .contact {
    color: #777777;
    display: inline-block;
}

#topFooter .footer-content .contact ul {
    margin-top: 10px;
    padding: 0;
}

#topFooter .footer-content .contact ul li {
    padding-top: 10px;
    list-style: none;
    font-size: 15px;
}

#topFooter .footer-content .newsletter {
    margin: 45px auto;
    padding: 40px;
    width: 100%;
    max-width: 570px;
    color: #313131;
    background-color: #f8f8f8;
}

#topFooter .footer-content .newsletter h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

#topFooter .footer-content .newsletter span {
    font-size: 13px;
}

#topFooter .footer-content .newsletter .newsletter-form {
    margin-top: 20px;
}

#topFooter .footer-content .newsletter .newsletter-form input#newsletter-email {
    padding: 10px 18px;
    height: 35px;
    line-height: 25px;
    font-size: 12px;
    background-color: #fff;
    border-width: 0;
}
#topFooter .footer-content .newsletter .newsletter-form #subscribe {
    padding: 10px 20px;
    height: 35px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    background-color: #282828;
    text-transform: uppercase;
}

#topFooter .footer-content .social-icons {
    margin: 0 auto;
    width: 100%;
    max-width: 570px;
}

#topFooter .footer-content .social-icons a {
    margin-right: 18px;
}
#topFooter .footer-content .social-icons a:last-child {
    margin-right: 0;
}

#topFooter .footer-content .customer-care {
    margin: 0 0 30px 0;
    display: inline-block;
}

#topFooter .footer-content .customer-care ul li {
    padding-top: 10px;
    color: #fff;
    list-style: none;
    font-size: 15px;
}

#topFooter .footer-content .payments a {
    margin: 5px;
    display: inline-block;
}

#topFooter .copyright {
    padding: 10px 60px;
    color: #fff;
    font-size: 15px;
    background-color: #585858;
}

/* POPUP */
ng-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999;
}

ng-popup.active {
    display: block;
}

ng-popup .popup-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
} 

ng-popup.active .popup-bg {
    opacity: 1;
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
    display: block;
}

ng-popup .popup-wrap {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    width: 75%;
    max-width: 1140px;
    height: auto;
    max-height: 75%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0;
    transition: top .3s ease-in;
    background: #fff url(../imgs/icons/MISC/popup-banner.png) top left no-repeat;
    background-size: auto 100%; 
    z-index: 9999999;
    overflow: auto;
}

ng-popup.active .popup-wrap {
    top: 50%;
    opacity: 1;
    -webkit-animation: popup .6s;
    animation: popup .6s;
}

@-webkit-keyframes popup {
    from { 
        top: calc(50% - 100px);
        opacity: 0; 
    }
    to { 
        top: 50%; 
        opacity: 1; 
    }
}
@keyframes fadeIn {
    from { 
        top: calc(50% - 100px);
        opacity: 0; 
    }
    to { 
        top: 50%; 
        opacity: 1; 
    }
}

ng-popup .popup-wrap #popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    font-size: 0;
}

ng-popup .popup-wrap #popup-close:before,
ng-popup .popup-wrap #popup-close:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 3px;
    background-color: #313131;
    transform-origin: center; 
    display: block;
}

ng-popup .popup-wrap #popup-close:before {
    transform: rotate(-45deg);
}
ng-popup .popup-wrap #popup-close:after {
    transform: rotate(45deg);
}

ng-popup .popup-wrap .popup-cont {
    margin-left: 40%;
    padding: 40px 40px 60px 45px;
    background-color: #fff;
}

ng-popup .popup-wrap .popup-cont .popup-title h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #696a6a;
    text-transform: uppercase;
    font-weight: 700;
}

ng-popup .popup-wrap .popup-cont .popup-title span {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #969696;
}

ng-popup .popup-wrap .popup-cont .popup-desc ul {
    padding: 15px 0 20px 0;
}

ng-popup .popup-wrap .popup-cont .popup-desc li {
    padding: 2px 0 2px 30px;
    font-size: 17px;
    color: #969696;
    background: transparent url(../imgs/icons/MISC/popup-list-style.png) left center no-repeat;
}

ng-popup .popup-wrap .popup-cont .popup-form #popup-email {
    padding: 10px 25px;
    width: 100%;
    max-width: 275px;
    height: 38px;
    font-size: 12px;
    line-height: 14px;
    color: #313131;
    border: 1px solid #b4bcc8;
    border-radius: 20px;
    outline: inherit;
    display: block;
}

ng-popup .popup-wrap .popup-cont .popup-form #popup-subscribe {
    margin-top: 25px;
    padding: 10px 25px;
    width: 100%;
    max-width: 150px;
    height: 38px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #313131;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #24afff;
    border-radius: 20px;
    display: block;
}

/* GLOBAL */
.star-group {
    width: 110px;
    height: 22px;
    display: block;
}

.star-group span {
    float: left;
    width: 22px;
    height: 22px;
    background: transparent url(../imgs/icons/MISC/star-deactive.png) center center no-repeat;
    display: block;
}
.star-group span.active {
    background-image: url(../imgs/icons/MISC/star-active.png);
}

.star-group.editable span {
    cursor: pointer;
}

.tabs-wrap {
    background-color: #fff;
}

.tabs-wrap .tabs {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
}
.tabs-wrap .tabs:after {
    content: "";
    clear: both;
    display: block;
}

.tabs-wrap .tabs li {
    float: left;
    padding: 12px 64px;
    width: auto;
    font-size: 16px;
    color: #313131;
    display: block;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.tabs-wrap .tabs li.active {
    background-color: #dcdcdc;
}

.tabs-wrap .tabs-items {
    overflow: hidden;
}

.tabs-wrap .tabs-items .tabs-item {
    padding: 20px;
    min-height: 120px;
    opacity: 0;
    display: none;
    transition: opacity .2s ease-in;
}

.tabs-wrap .tabs-items .tabs-item:after {
    content: "";
    clear: both;
    display: block;
}

.tabs-wrap .tabs-items .tabs-item.active {
    opacity: 1;
    display: block;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
