<!---------------------------------------------
-- Blog Page template
----------------------------------------------->

<div id="blog">
    <div class="blog-widget">
        <div class="top-artist">
            <img src="./assets/imgs/Artists heads/Miss-Swanne.png" class="top-artist-avatar"/>
            
        </div>
    </div>    
</div>